@import url("https://fontsapi.zeoseven.com/292/main/result.css");

* {
    font-family: 'LXGW WenKai', system-ui, sans-serif;
}

body {
    margin: 0;
    font-family: 'LXGW WenKai', sans-serif;
    line-height: 1.6;
    user-select: none;
    padding: 60px 20px;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.content-wrapper {
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2),0 8px 32px rgba(0, 0, 0, 0.25);
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    scroll-behavior: smooth;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.section {
    margin-bottom: 25px;
}

.section-title {
    color: #a6deff;
    border-bottom: 2px solid #a6deff;
    padding-bottom: 5px;
}

.highlight {
    color: #dbA6ff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.info-text {
    color: #ffa6d3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
    color: white;
}